<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.childhealth">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CHILDHEALTH">
        <activity
            android:name=".VitaminADetail"
            android:exported="false" />
        <activity
            android:name=".ImmunizationTableDetail"
            android:exported="false" />
        <activity
            android:name=".ImmunizationDetail"
            android:exported="false" />
        <activity
            android:name=".ImmunizationKnowledge"
            android:exported="false" />
        <activity
            android:name=".VaccinationHome"
            android:exported="false" />
        <activity
            android:name=".Records"
            android:exported="false" />
        <activity
            android:name=".Centers"
            android:exported="false" />
        <activity
            android:name=".Vaccinelist"
            android:exported="false" /> <!-- Activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Remindersetup"
            android:exported="true"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Medication"
            android:exported="false" />
        <activity
            android:name=".DoctorsAppointment"
            android:exported="false" />
        <activity
            android:name=".Vaccination"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Define the ReminderReceiver -->
        <receiver
            android:name=".Remindersetup$ReminderReceiver"
            android:enabled="true"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.example.childhealth.REMINDER_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>